<li class="list-group-item list-group-item-action" id="<%= dom_id(model) %>">
  <div class="row d-flex justify-content-between">
    <div class="col-6 col-md-6 mb-3 mb-md-0"><%= "#{model.sub_brand.title} #{model.title}" %></div>
    <div class="col-6 col-md-3 mb-3 mb-md-0"><%= "#{model.start_year} — #{model.end_year}" %></div>
    <div class="col-12 col-md-3 d-flex gap-3 justify-content-end">
      <%= link_to 'Править', edit_model_path(model), class: 'btn btn-warning btn-sm', data: { turbo_prefetch: false } %>
      <%= button_to model_path(model), method: :delete, class: 'btn btn-danger btn-sm',
                    data: { confirm: 'Вы уверены, что хотите удалить данную модель?',
                            controller: 'confirm', action: 'click->confirm#call' } do %>
        <i class="bi bi-trash"></i>
      <% end %>
    </div>
  </div>
</li>
