<li class="list-group-item list-group-item-action %>" id="part_<%= part.id %>">
  <div class="d-flex justify-content-between">
    <div><%= "#{part.title} #{part.model_part.title}" %></div>
    <div>Стоимость min: <%= part.min_price %>₽</div>
    <div>Стоимость max: <%= part.max_price %>₽</div>
    <div class="d-flex gap-3">
      <a href="<%= edit_part_path(part) %>" class='btn btn-warning btn-sm'>Править</a>
      <%= button_to part_path(part), method: :delete, class: 'btn btn-danger btn-sm',
                    data: { confirm: 'Вы уверены, что хотите удалить данную запчасть и все с нею связанные фото?',
                            controller: 'confirm', action: 'click->confirm#call' } do %>
        <i class="bi bi-trash"></i>
      <% end %>
    </div>
  </div>
</li>
