<li class="list-group-item list-group-item-action" id="part_<%= part.id %>">
  <div class="row d-flex justify-content-between">
    <div class="col-12 col-md-5 mb-3 mb-md-0 d-flex gap-3 gap-md-2">
      <% if part.photos.present? %>
        <%= content_tag :div, class: 'part-icon', style: "background: url(#{img_resize(part.photos.first, 70)});,
                                                          background-position: center;
                                                          background-size: cover;" do %><% end %>
      <% end %>
      <div><%= "#{part.title} #{part.model_part.title}" %></div>
    </div>
    <div class="col-md-1 d-none d-md-block"><%= part.min_price %></div>
    <div class="col-md-1 d-none d-md-block"><%= part.max_price %></div>
    <div class="col-12 col-md-3 d-flex gap-3 justify-content-end">
      <a href="<%= edit_part_path(part) %>" class='btn btn-warning btn-sm'>Править</a>
      <%= button_to parts_path(copy_id: part), class: 'btn btn-primary btn-sm',
                    title: 'Скопировать' do %>
        <i class="bi bi-copy"></i>
      <% end %>
      <%= button_to part_path(part), method: :delete, class: 'btn btn-danger btn-sm',
                    data: { confirm: 'Вы уверены, что хотите удалить данную запчасть и все с нею связанные фото?',
                            controller: 'confirm', action: 'click->confirm#call' } do %>
        <i class="bi bi-trash"></i>
      <% end %>
    </div>
  </div>
</li>
